<!-- DataTales Example -->

<div class="card shadow mb-4 ">
    <div class="card-header navbar py-3 justify-content-between">
      <!-- Button trigger modal -->
      <nav class="navbar d-sm-inline-block navbar-light bg-light">
        <h4 class="text-left" style="margin-bottom: 0;">Detail Mitra</h4>
      </nav>
  
  
    </div>
    <div class="card-body">
        <div> 
            <table width="100%" cellspacing="0">
            <tr>
                <td width="18%">Nama Mitra</td>
                <td width="3%">:</td>
                <td width="90%" class="text-left"><%= mitra.nama %></td>
            </tr>
            <tr>
                <td>Alamat Mitra</td>
                <td>:</td>
                <td><%= mitra.alamat %></td>
            </tr>
            <tr>
                <td>Kontak Mitra</td>
                <td>:</td>
                <td><%= mitra.kontak %></td>
            </tr>
            <tr>
                <td>Contact Person</td>
                <td>:</td>
                <td><%= mitra.namaCP %></td>
            </tr>
            <tr>
                <td>Alamat Contact Person</td>
                <td>:</td>
                <td><%= mitra.alamatCP %></td>
            </tr>
            <tr>
                <td>Nomor Contact Person</td>
                <td>:</td>
                <td><%= mitra.kontakCP %></td>
            </tr>
            <tr><td><td></td></tr>
            </table>
            <br>
        </div>
    </div>
</div>