<%- include('partials/header') %>
    <main id="wrapper">

        <!-- side bar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa-solid fa-stethoscope"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Manajemen Apotek</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Tabel Data
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fa-regular fa-money-bill-1"></i>
                    <span>Transaksi</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Transaksi</h6>
                        <a class="collapse-item" href="#">Transaksi Penjualan</a>
                        <a class="collapse-item" href="#">Transaksi Pembelian</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages2"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fa-solid fa-users"></i>
                    <span>Users</span>
                </a>
                <div id="collapsePages2" class="collapse" aria-labelledby="headingPages"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tampilkan User</h6>
                        <a class="collapse-item" href="/user">Semua User</a>
                        <a class="collapse-item" href="/user/tipe/admin">Admin</a>
                        <a class="collapse-item" href="/user/tipe/customer">Customer</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - users -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="/user">
                    <i class="fa-solid fa-users"></i>
                    <span>Users</span></a>
            </li> -->

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-city"></i>
                    <span> Mitra</span></a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-tablets"></i>
                    <span> Obat</span></a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-mortar-pestle"></i>
                    <span> Resep</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <h4 class="text-left">Tabel Users</h4>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle"
                                    src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                                <span class="ml-2 d-none d-lg-inline text-gray-600 small">
                                    <%= username %>
                                </span>

                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>

                <div class="container-fluid">
                    <div class="container mt-3">
                        <div class="row mt-3">
                            <!-- alert -->
                            <%- include('partials/alert') %>
                                <!-- Table -->
                                <div class="col-auto col-lg-12 mt-2"><%- include('partials/user_table') %></div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Log Out Modal -->
            <%- include('partials/logout_modal') %>
                <!-- Add Modal -->
                <%- include('partials/user_add_modal') %>
                    <!-- Edit Modal -->
                    <%- include('partials/user_edit_modal') %>
                        <!-- JS -->
                        <%- include('js.ejs') %>
    </main>

    <%- include('partials/scroll') %>


        <script>
            /* Menampilkan modal dan memanggil tag table yang memiliki id dataTable
               class button-update di class tag a Edit di file table.ejs */
            $("#dataTable").on("click", ".button-update", function () {
                // membuat variabel untuk mengambil data-id, data-name, dstnya yang sudah dibuat di file table.ejs di bagian tag a edit
                let id = $(this).data("id");
                let nama = $(this).data("nama");
                let password = $(this).data("password");
                let umur = $(this).data("umur");
                let email = $(this).data("email");
                let no_telp = $(this).data("no_telp");
                let alamat = $(this).data("alamat");
                let userType = $(this).data("type");
                /*
                 * memanggil id edit-modal yang ada di file edit_modal.ejs
                 * dan membuat fungsi dari method
                 */
                $("#edit-modal").modal("show");
                /* Lalu Mengirim  id, name, dstnya melalu class disamping form-control tag input
                   dan valuenya mengambil dari setiap let yang dideklarasikan di atas */
                $(".id").val(id);
                $(".nama").val(nama);
                $(".password").val(password);
                $(".umur").val(umur);
                $(".email").val(email);
                $(".no_telp").val(no_telp);
                $(".alamat").val(alamat);
                $("input[name='userType'][value='" + userType + "']").prop("checked", true);
            });
        </script>
        <%- include('partials/footer') %>

            <script>
                var searchInput = document.getElementById('searchInput');
                var namaLink = document.getElementById('namaLink');
                var umurLink = document.getElementById('umurLink');
                var telpLink = document.getElementById('telpLink');
                var emailLink = document.getElementById('emailLink');
                var alamatLink = document.getElementById('alamatLink');

                namaLink.addEventListener('click', function (event) {
                    event.preventDefault(); // Mencegah aksi default hyperlink

                    var searchValue = searchInput.value; // Mendapatkan nilai dari inputan form
                    if (searchValue.trim() !== '') { // cek null
                        var url = "/user/nama/" + encodeURIComponent(searchValue); // Membuat URL dengan nilai search
                        // Redirect ke URL yang ditentukan
                        window.location.href = url;
                    }
                });
                umurLink.addEventListener('click', function (event) {
                    event.preventDefault(); // Mencegah aksi default hyperlink

                    var searchValue = searchInput.value; // Mendapatkan nilai dari inputan form
                    if (searchValue.trim() !== '') { // cek null
                        var url = "/user/umur/" + encodeURIComponent(searchValue); // Membuat URL dengan nilai search
                        // Redirect ke URL yang ditentukan
                        window.location.href = url;
                    }
                });
                telpLink.addEventListener('click', function (event) {
                    event.preventDefault(); // Mencegah aksi default hyperlink

                    var searchValue = searchInput.value; // Mendapatkan nilai dari inputan form
                    if (searchValue.trim() !== '') { // cek null
                        var url = "/user/telp/" + encodeURIComponent(searchValue); // Membuat URL dengan nilai search
                        // Redirect ke URL yang ditentukan
                        window.location.href = url;
                    }
                });
                alamatLink.addEventListener('click', function (event) {
                    event.preventDefault(); // Mencegah aksi default hyperlink

                    var searchValue = searchInput.value; // Mendapatkan nilai dari inputan form
                    if (searchValue.trim() !== '') { // cek null
                        var url = "/user/alamat/" + encodeURIComponent(searchValue); // Membuat URL dengan nilai search
                        // Redirect ke URL yang ditentukan
                        window.location.href = url;
                    }
                });
                emailLink.addEventListener('click', function (event) {
                    event.preventDefault(); // Mencegah aksi default hyperlink

                    var searchValue = searchInput.value; // Mendapatkan nilai dari inputan form
                    if (searchValue.trim() !== '') { // cek null
                        var url = "/user/email/" + encodeURIComponent(searchValue); // Membuat URL dengan nilai search
                        // Redirect ke URL yang ditentukan
                        window.location.href = url;
                    }
                });

            </script>